.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
    height: 56px;
  }
  
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }
